.idea/
.coverage
.coverage_*
venv/
*.pyc
__pycache__/
instance/
.pytest_cache/
htmlcov/
dist/
build/
*.egg-info/
.empty/

### Linux ###
*~
.fuse_hidden*
.directory
.Trash-*
.nfs*
cmake-build-*/
*.iws
out/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
*.iml
modules.xml
*.ipr
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
*.stackdump
[Dd]esktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk
